---
services:
  qa-lab-server-dev:
    profiles:
      - dev
    build: 
      context: .
      dockerfile: ./src/dataland_qa_lab/Dockerfile
    ports:
      - "127.0.0.1:5051:81"
    environment:
      DATALAND_URL: ${DATALAND_URL}
      DATALAND_API_KEY: ${DATALAND_API_KEY}
      AZURE_OPENAI_API_KEY: ${AZURE_OPENAI_API_KEY}
      AZURE_OPENAI_ENDPOINT: ${AZURE_OPENAI_ENDPOINT}
      AZURE_DOCINTEL_API_KEY: ${AZURE_DOCINTEL_API_KEY}
      AZURE_DOCINTEL_ENDPOINT: ${AZURE_DOCINTEL_ENDPOINT}
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DATABASE_CONNECTION_STRING: ${DATABASE_CONNECTION_STRING}
      SLACK_WEBHOOK_URL: ${SLACK_WEBHOOK_URL}
      ENVIRONMENT: ${ENVIRONMENT}
  qa-lab-monitor:
    profiles:
      - dev
    build:
      context: .
      dockerfile: ./monitor/Dockerfile
    ports:
      - "127.0.0.1:8501:8501"
  qa-lab-server-prod:
    profiles:
      - prod
    image: ghcr.io/d-fine/datalandqalab/qalab-server:${QALAB_SERVER_VERSION}
    ports:
      - "127.0.0.1:5051:81"
    environment:
      DATALAND_URL: ${DATALAND_URL}
      DATALAND_API_KEY: ${DATALAND_API_KEY}
      AZURE_OPENAI_API_KEY: ${AZURE_OPENAI_API_KEY}
      AZURE_OPENAI_ENDPOINT: ${AZURE_OPENAI_ENDPOINT}
      AZURE_DOCINTEL_API_KEY: ${AZURE_DOCINTEL_API_KEY}
      AZURE_DOCINTEL_ENDPOINT: ${AZURE_DOCINTEL_ENDPOINT}
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DATABASE_CONNECTION_STRING: ${DATABASE_CONNECTION_STRING}
      SLACK_WEBHOOK_URL: ${SLACK_WEBHOOK_URL}
      ENVIRONMENT: ${ENVIRONMENT}
  data_reviewer-db:
    image: postgres:17.2
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: dataland_qa_lab
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "127.0.0.1:5432:5432"

volumes:
  pgdata:
