name: Monitor

on:
  push:
    branches:
      - DF-12-Build-a-script-to-run-benchmarks-on-AI-models
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select Environment'
        required: true
        type: environment
      cleanup_database:
        description: 'Delete the database'
        required: false
        type: boolean
        default: false

jobs:
  monitor:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Print Inputs
        run: |
          echo "Document: ${{ github.event.inputs.document }}"
          echo "AI Model: ${{ github.event.inputs.ai_model }}"

